<h2>Become a Guru</h2>
<div class="card border-primary">
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group">
        <p>
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Enter Email' %>
        </p>

        <p>
          <%= f.label :first_name %><br />
          <%= f.text_field :first_name, class: 'form-control' %>
        </p>

        <p>
          <%= f.label :last_name %><br />
          <%= f.text_field :last_name, class: 'form-control' %>
        </p>

        <p>
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", class: 'form-control password password-input' %>
        </p>

        <p>
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control confirm-password password-input' %>
        </p>

        <div class="actions">
          <%= f.submit "Sign up", class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
    <div class="mt-1">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
