<%= form_with url: send_feedback_path, local: true, class: 'form-group' do |f| %>
  <p>
    <%= f.label :feedback %><br>
    <%= f.text_field :feedback, class: 'form-control' %>
  </p>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control'%>
  </p>
  <p>
    <%= f.submit%>
  </p>
<% end %>
