<%= form_with model: @test, url: {action: action}, local: true do |form| %>
  <%= render 'shared/errors', resource: @test %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :level %><br>
    <%= form.number_field :level %>
  </p>
  <p><%= form.submit %></p>

  <%= link_to 'Back', tests_path%>

<% end %>
