<p><b>Title:</b> <%= @test.title%></p>
<p><b>Level:</b> <%= @test.level%></p>

<%= link_to 'Create Question', new_test_question_path(@test) %>

<%= render 'shared/questions_list', questions: @test.questions%>

<%= link_to 'Back', tests_path %>
